@use '../../../styles/variables' as *;

.tableWrapper{
    border-radius: $radius-md;
    overflow: hidden;
    border: $classic-border;
    width: 100%;
}


.table {
    border-collapse: collapse;
    width: 100%;

    th, td {
        padding: $space-md;
        border-right: $classic-border;
        border-bottom: $classic-border;
        word-break: break-word;
    }

    th:last-child,
    td:last-child {
        border-right: none;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }
}
