@use '../../styles/variables' as *;


.btn {
    margin: $space-md;
    border: $classic-border;
    border-radius: $radius-lg;
    height: $space-xl;
    padding: 0 $space-sm 0 $space-sm;
    white-space: nowrap;
}