@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.tasksWrapper {
  @include m.flex-center;
  min-height: 100vh;
  flex-direction: column;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
