@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.form {
 display: flex;
 flex-direction: column;
}

.inputsRow,
.buttonsRow {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}