@use '../utils/variables' as v;

.app-main {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: v.$header-height;
}

header {
  height: v.$header-height;
  display: flex;
  align-items: center;
  justify-content: center;
}
