@use '../../../styles/variables' as *;


.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }
}

.box {
    margin: $space-md;
    width: $space-md;
    height: $space-md;
    border: $classic-border;
    border-radius: $radius-full;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

/* checked */
input:checked + .box {
  background-color: $color-primary;
  border-color: $color-primary;
}

input:checked + .box::after {
  content: '✓';
  color: $color-bg;
  position: absolute;
  line-height: 1px;
  font-size: $font-size-sm;
}

/* disabled */
input:disabled + .box {
  opacity: 0.5;
  cursor: not-allowed;
}
