@use '../../../styles/variables' as *;


.cutomTextInput {
    margin: $space-md;
    padding: 0 $space-sm 0 $space-sm;
    border-radius: $radius-lg;
    height:  $space-xl;
    border: $classic-border;
}