@use '../utils/variables' as v;

.btn {
  margin: v.$space-md;
  border: v.$classic-border;
  border-radius: v.$radius-lg;
  height: v.$space-xl;
  padding: 0 v.$space-sm 0 v.$space-sm;
  white-space: nowrap;
}

.btn:active {
  border-color: black;
}
