@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.menuWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.nameWrapper {
  @include m.flex-center;
}

.adminWrapper {
  margin: 0 v.$space-xs 0 v.$space-xs;
}

.menuButtonsWrapper {
  display: flex;
  flex-direction: row;

  button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: v.$space-xs;
  }
}
