@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.tasksWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}